html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

body {
    font-size: 16px;
    font-family: "Lato", sans-serif;
    overflow-x: hidden;
}

main {
}

header {
    background-color: #dddddd;
    box-shadow: 0 3px 10px rgba(0,0,0,.1);
    height: 60px;
    position:fixed;
    width:100%;
    z-index: 2;
    transition: transform 0.2s ease-in-out;
    transform: translateY(0);
}

header.collapse {
    transform: translateY(-100%);
}

section {
    position: absolute;
    width: 100vw;
    top: 100px;
    left: 0;
}

h1 {
    font-size: 42px;
    font-family: "Montserrat", sans-serif;
}

h2 {
    margin: 0;
    font-size: 28px;
    font-family: "Montserrat", sans-serif;
}

header ul {
    display: flex;
    justify-content: space-around;
    width: 100%;
    padding-inline-start: 0 !important;
    padding-left: 0 !important;
    z-index: 1;
}

header li {
    list-style-type: none;
    padding: 0.4em;
    font-size: 1.6em;
}

header li:hover {
    cursor: pointer;
}  

header li > a {
    text-decoration: none;
    color: #101010;
}

ul {
    margin: 0;
}

a {
    color: #303c44;
}

a:hover {
    color: #4b5358;
    
}

.bild {
    width: 200px;
    height: 200px;
}

@media screen and (max-width: 600px) {
    header>ul {
        flex-direction: column;
        align-items: center;
    }
}

.container {
    position: relative;
    display: flex;
    width: 1150px;
    margin: auto;
}

.nav-highlight {
    position: absolute;
    width: 50%;
    max-width: 575px;
    margin-left: 0;
    height: 60px;
    background: #2040d0;
    transition: transform 0.2s ease-in-out;
}

.nav-highlight.expand {
    transform: translateX(100%);
}

#page-2 {
    transform: translateX(100vw);
    transition: transform 0.4s ease-in-out;
}
#page-2.expand {
    transform: translateX(0);
}

#page-1 {
    transform: translateX(0);
    transition: transform 0.4s ease-in-out ;
}
#page-1.expand {
    transform: translateX(-100vw);
}